.users {
	padding: 20px;

	h1 {
		font-family: "Arial";
	}

	&__header {
		padding: 10px 20px;
		background: #363545;
		display: flex;
		justify-content: space-between;
		align-items: center;

		h1, p {
			margin: 0;
			padding: 0;
			color: #FFF;
		}
	}

	&__table {
		display: table;
		word-break: break-all;
		width: 100%;
		background: #d0d6d3;
		margin-bottom: 20px;

		input {
			padding: 10px;
			font-size: 1em;
		}

		/* tr */
		&-row {
			display: table-row;

			&:hover {
				background: #ffffe0;
			}

			&--header {
				font-weight: bold;
				background: #6c8494;
				font-size: 0.8em;
				letter-spacing: 2px;
				text-transform: uppercase;
				color: #fff;

				&:hover {
					background: #6c8494;
				}
			}

			&--highlighted {
				background: #d5cac9;

				&:hover {
					background: #d0d6d3;
				}
			}
		}
	}

	/* td */
	&__table > * > * {
		min-width: 70px;
		padding: 10px;
		display: table-cell;
		border-bottom: 1px solid #f1f0ee;
		border-collapse: collapse;

		&:first-child {
			min-width: 50px;
		}
	}

}

.pagination {
	padding: 0;
	margin: 0;

	li {
		display: inline-block;
		cursor: pointer;
		margin-right: 3px;
	}

	&__item {
		&--active {
			/*background: blue;*/
			/*color: #fff;*/
		}
	}
}