.users {

	&__header {
		padding: 10px 20px;
		margin-bottom: 30px;
		background: #363545;
		display: flex;
		justify-content: space-between;
		align-items: center;

		h1, p {
			font-weight: normal;
			margin: 0;
			padding: 0;
			color: #FFF;
		}
	}

	&__table {
		display: table;
		word-break: break-all;
		width: 100%;
		background: #d0d6d3;
		margin-bottom: 20px;

		img {
			border-radius: 100%;
			width: 50px;
			height: 50px;
			border: 2px solid #fff;
		}

		p {
			margin: 0;
		}

		&-cell {

			&--empty {
				padding: 20px;
			}

		}

		/* tr */
		&-row {
			display: table-row;

			&:hover {
				background: #ffffe0;
			}

			&--loading {

				& > * {

					p {
						width: 60%;
						height: 15px;
						animation-duration: 1s;
					    animation-iteration-count: infinite;
					    animation-name: shimmer;
					    animation-timing-function: linear;
					    background: #bbb;
					    background-image: linear-gradient(to right, #bbb 10%, #ccc 18%, #bbb 33%);
					    background-repeat: no-repeat;
					    position: relative;
					    margin: 10px 0 10px 0;
					}
				}

				@keyframes shimmer{
					0% {
					    background-position: -468px 0;
					}
					100% {
					    background-position: 468px 0;
					}
				}

			}

			&--header {
				font-weight: bold;
				background: #6c8494;
				font-size: 0.8em;
				letter-spacing: 2px;
				text-transform: uppercase;
				color: #fff;

				&:hover {
					background: #6c8494;
				}
			}

			&--highlighted {
				background: #d5cac9;

				&:hover {
					background: #d0d6d3;
				}
			}
		}


	}

	/* td */
	&__table > * > div {
		min-width: 70px;
		padding: 5px;
		display: table-cell;
		border-bottom: 1px solid #f1f0ee;
		border-collapse: collapse;
		vertical-align: middle;

		&:first-child {
			min-width: 50px;
		}
	}

}

.pagination {
	padding: 0;
	margin: 0;

	li {
		display: inline-block;
		cursor: pointer;
		margin-right: 3px;
	}

	&__item {
		&--active {
			/*background: blue;*/
			/*color: #fff;*/
		}
	}
}

.search {
	background: #d0d6d3;
	padding: 10px 15px;

	input {
		padding: 10px;
		font-size: 1em;
		min-width: 400px
	}

	&__container {
		display: flex;
		align-items: center;
	}
}