@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body {
	overflow-y: scroll;
	background: #eaeeef;
}

h1,
h2,
h3 {
	padding: 0;
	margin: 0 0 30px 0;
}

p {
	margin-top: 0;
	padding-top: 0;
	margin-bottom: 30px;
}

h1,
h2,
h3,
label,
p,
input,
button {
	font-family: "Open Sans", sans-serif;
}

label {
	font-size: 14px;
	font-weight: bold;
	color: #435562;
}

input {
	outline: none;
	border: 1px solid #ccc;
	padding: 10px;
	font-size: 1em;

	&:focus {
		background: #ffffe0;
		border: 1px solid #333;
	}
}

.input-name {
	text-transform: capitalize;
}

a {
	color: #3f51b5;
	text-decoration: none;
}

.text-center {
	text-align: center;
}

.container {
	
	&--full-width {
		width: 100%;
		display: flex;
		justify-content: center;
	}

}

.message-panel {
	
	border: 1px solid #ccc;
	padding: 5px;
	border-radius: 5px;

	&--error {

		border: 1px solid #bb4055;
		background: #ffe4e1;

	}

}

.panel {
	min-width: 300px;
	width: 300px;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 2px #ccc;
	margin-bottom: 20px;
}